---
repos:
    - repo: https://github.com/abravalheri/validate-pyproject
      rev: v0.24.1
      hooks:
          - id: validate-pyproject
    - repo: https://github.com/astral-sh/uv-pre-commit
      rev: 0.9.6
      hooks:
          - id: uv-lock
            files: pyproject.toml
          - id: uv-export
            files: uv.lock
            args: [--no-hashes, --no-dev, --quiet, --no-emit-project, -o, requirements.txt]
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: v0.14.2
      hooks:
          - id: ruff
            args:
                - --fix
                - --exit-non-zero-on-fix
                - --show-fixes
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.18.2
      hooks:
          - id: mypy
            language: system
            exclude: tests/.*|.*_test\.py|conftest\.py # Use double backslash for the dot
    - repo: https://github.com/psf/black
      rev: 25.9.0
      hooks:
          - id: black
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
            args:
                - --markdown-linebreak-ext=md
          - id: end-of-file-fixer
          - id: check-docstring-first
          - id: check-json
          - id: check-yaml
            language_version: python3
          - id: name-tests-test
          - id: pretty-format-json
            args:
                - --autofix
                - --indent=4
                - --no-sort-keys
    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.3
      hooks:
          - id: yamlfmt
